<div class="row footer-content-container pb-8 pt-8">
  <div class="column col-lg-6 col-md-12 col-sm-12 col-12 logo-container">
    <a routerLink="">
      <img ngSrc="../../../assets/images/logo-2.svg" alt="icon" width="70" height="70" />
    </a>
  </div>
  <div class="column col-lg-6 col-md-12 col-sm-12 col-12 links">
    <a routerLink="contact"><p>Contacte</p></a>
    <a routerLink="cookies-policy"><p>Política de cookies</p></a>
    <a routerLink="privacy-policy"><p>Política de privacitat</p></a>
    <a routerLink="legal-warning"><p>Avís legal</p></a>
  </div>
</div>






