$green-color: #82CB41;
$blue-color: #0071C0;
$color-3: #003B79;
$color-4: #009CBC;
$color-5: #70CCD9;
$white-color: #FFFFFF;
$black-color: #000000;
$grey-color: #f3f2f1;
$red-color: #dc3545;
$dark-green-color: green;
$dark-grey-color: grey
