<app-banner [bannerTitle]="bannerTitle"> </app-banner>
<div class="container">
<div class="ml-32 mr-32 mt-32 mb-32 row">
  <div class="col-md-7 col-sm-12 col-xs-12" style="align-self: center;">
    <p class="subtitle-2 justify-text">
      <b>Lorem ipsum dolor sit amet consectetur adipisicing elit</b>. Exercitationem rerum provident, debitis illum praesentium dolorem perferendis assumenda minus cupiditate sit quis reprehenderit deserunt soluta voluptate voluptatibus, maxime totam magnam optio.ha de tenir una perspectiva integral, reconeixent la influència mútua dels àmbits socials i de salut de les persones.​ ​
    </p>
    <p class="subtitle-2 justify-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. <b>Neque, perferendis fugiat excepturi quo eveniet eos laboriosam nostrum dicta sed voluptatum eligendi nemo non temporibus</b>, commodi exercitationem debitis eum ut. Inventore.
    </p>
    <p class="mt-24 subtitle-2 justify-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vitae quis maxime labore enim alias dolorum. A atque maiores nulla voluptatum! <b>Dolorem unde deleniti laborum perferendis voluptatibus cupiditate vitae ut?</b>
    </p>
  </div>
  <div class="col-md-5 col-sm-12 col-xs-12">
    <app-map></app-map>
  </div>
</div>
<div class="ml-32 mr-32 mt-32 mb-32 row">
  <div class="col-sm-12 col-md-6 col-xs-12 img-cennter">
    <img
      class="home-img"
      ngSrc="../../../assets/images/home-img.png"
      alt="cat-map"
      width="425"
      height="250"
      priority
    />
  </div>
  <div class="col-sm-12 col-md-6 col-xs-12" style="align-self: center;">
    <p class="mt-24 justify-text">
      <b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, saepe. Blanditiis sequi et atque necessitatibus mollitia officiis architecto facilis corporis vero in nisi accusamus, aliquid, voluptate minus earum deserunt labore.</b>
    </p>
    <p class="mt-24 subtitle-2 justify-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum doloremque, dolore quo eligendi suscipit libero odit incidunt autem quos, ex commodi nobis earum quasi delectus aperiam. Dolorem cum possimus nulla.
    </p>
  </div>
</div>

<div class="grey-background">
  <div class="ml-32 mr-32">
      <div class="col">
        <h4 class="text-center pt-64 pb-16">
          Lorem ipsum dolor sit amet consectetur adipisicing elit
        </h4>
          <div class="row">
            <div class="text-center col-md-4 col-sm-12 col-xs-12">
              <img ngSrc="../../../assets/images/logo-4.png" alt="icon" width="100" height="100" />
              <p>Lorem ipsum​</p>
            </div>
            <div class="text-center col-md-4 col-sm-12 col-xs-12">
              <img ngSrc="../../../assets/images/logo-1.png" alt="icon" width="100" height="100" />
              <p>Lorem ipsum</p>
            </div>
            <div class="text-center col-md-4 col-sm-12 col-xs-12">
              <img ngSrc="../../../assets/images/logo-3.svg" alt="icon" width="100" height="100" />
              <p>Lorem ipsum</p>
            </div>
        </div>
      </div>
      <div class="col">
        <h5 class="text-center pt-64 pb-32">Lorem ipsum dolor sit amet consectetur adipisicing elit
          ​</h5>
        <p class="text-center subtitle-2 pb-32">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, beatae odit illo modi totam molestias voluptates accusamus quo nisi fuga ipsum reiciendis perspiciatis atque quis eos perferendis ipsam qui nam!

        </p>
        <div class="">
          <div class="row icon-row">
            <div class="text-center col-md-3 col-sm-12 col-xs-12">
              <img ngSrc="../../../assets/images/logo-7.svg" alt="icon" width="70" height="70" />
              <p>Lorem ipsum</p>
            </div>
            <div class="text-center col-md-3 col-sm-12 col-xs-12">
              <img ngSrc="../../../assets/images/logo-5.svg" alt="icon" width="70" height="70" />
              <p>Lorem ipsum</p>
            </div>
            <div class="text-center col-md-3 col-sm-12 col-xs-12">
              <img ngSrc="../../../assets/images/logo-6.svg" alt="icon" width="70" height="70" />
              <p>Lorem ipsum</p>
            </div>
            <div class="text-center col-md-3 col-sm-12 col-xs-12">
              <img ngSrc="../../../assets/images/logo-2.svg" alt="icon" width="70" height="70" />
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
      </div>
    <div class="login-button-container pb-64 pt-32">
      <button>
        <a target="_blank">Lorem ipsum</a>
      </button>
    </div>
  </div>
</div>

<div class="pt-32 pb-32">
  <div class="pr-32 pl-32 row">
    <div class="col">
      <a target="_blank" class="icon-row">
        <img ngSrc="../../../assets/images/logo-6.svg" alt="icon" width="170" height="170" />
      </a>
      <p class="justify-text">
        <a class="link" target="_blank">Lorem ipsum</a>
        Amet consectetur adipisicing elit. Maxime quae, blanditiis ab debitis harum fugiat possimus omnis assumenda eos veniam quod, alias deleniti hic. Dolore eveniet non officiis illo voluptatem!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad maiores, debitis beatae necessitatibus velit aut reiciendis quos non distinctio exercitationem, ea nihil nobis illo sit aspernatur modi quod veritatis placeat.
      </p>
    </div>
    <div class="col">
      <a target="_blank" class="icon-row">
        <img ngSrc="../../../assets/images/logo-2.svg" alt="icon" width="170" height="170" />
      </a>
      <p class="justify-text">
        <a class="link" target="_blank">Lorem ipsum</a>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos dolorem nostrum enim repellat. Placeat assumenda pariatur fugit delectus quae aut voluptatum, laborum enim omnis ab excepturi asperiores accusantium rem neque?
      </p>
    </div>
  </div>
</div>
</div>