@import "../../../styles/variables.scss";

.snack{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .data {
        margin-bottom: 0px;
    }
}

::ng-deep .snack-success{
    border-radius: 10px;
    background-color:$color-3;
}

::ng-deep .snack-error{
    border-radius: 10px;
    background-color:$red-color;
}